/* h3,span {
    font-size: 22px;
    margin-bottom: 0;
} */
/* h3 {
    font-weight: 500;
} */
/* span {
font-weight: 700;
font-size:14px;
} */
/* h4 {
    font-size: 15px;
    margin-bottom: 6px;
    font-weight: 700;
} */
.date-text {
font-size: 22px;
font-weight: 400;
}
.ordered-icon ,.shipping-icon{
    font-size: 22px;
    margin-right: 8px;
}
