.table-container {
    .table {
        .table-title {
            background-color: lightgray;
        }

        .icon {
            cursor: pointer;
        }

        .col-title {
            border: none;
        }

        color: black;
        font-weight: 400;
        border-color: black;
        background-color: white;
    }
}