.modal-import-file {

    .overlay {
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-import-file-content {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 1001;
        background-color: #fff;
        padding: 20px;
        font-size: 16px;
        border: 2px solid #666;
        width: 65%;
        min-height: 50%;
        overflow: auto;

        .import-form {
            margin-bottom: 20px;

            span {
                font-weight: 600;
                padding: 5px 0;
            }

            .form-content {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                width: 60%;
                border: 1px solid #ddd;
                text-align: center;
                padding-left: 10px;

                .reset-btn {
                    padding: 10px;
                    width: 100px;
                    background-color: gray;
                    color: white;
                    border: 1px solid grey;
                    font-weight: 600;
                    height: 100%;
                    text-align: center;
                    cursor: pointer;
                }
                .download-btn {
                    padding: 11px;
                    background-color: orangered;
                    color: white;
                    border: none;
                    font-weight: 600;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }

        .select-form {
            label {
                font-weight: 600;
                font-size: 16px;
            }

            select {
                width: 100%;
                border-radius: 5px;
                padding: 5px 10px;
            }
        }

        .status {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .grid-table {
            margin-top: 10px;
            width: 100%;
            max-height: 400px;
            min-height: 400px;
            overflow: scroll;
            border-top: 1px solid #ddd !important;
            border-bottom: 1px solid #ddd !important;
        }

        .button-group {
            gap: 20px;
            margin-top: 20px;

            .btn-item {
                width: 150px;
                padding: 5px;
                text-align: center;
                border: 1px solid #333;
                font-weight: 700;
                cursor: pointer;
                border-radius: 10px;
            }

            .save-btn {
                background-color: #0066FF;
            }
        }
    }
}