.note {
    display: flex;
    font-size: 18px;
}
.note-item {
    margin-left: 20px;
    color: rgb(219, 98, 5);
}
.information {
    width: 90% !important; 
}
.information2 {
    width: 80% !important; 
}

.unseen {
    background-color: #c5c5c5;
}

.seen {
    background-color: white;
}